body {
  background-color: white;
}

.center {
  /* width: 80%; */
  /* margin: auto; */
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'logo search search'
    'logo nav nav'
    'main main main';
  grid-gap: 20px;
  background-color: white;
  /* padding: 20px; */
}

.grid-container > div {
  /* padding: 10px 0; */
  color: grey;
}

.logo {
  grid-area: logo;
  width: 10vw;
}

.nav {
  grid-area: nav;
}

.search {
  grid-area: search;
}

.user {
  grid-area: user;
}

.main {
  grid-area: main;
  position: relative;
}

.main img {
  width: 100%;
  height: auto;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.main button {
  opacity: 0.7;
}

.info {
}
